<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container">
    <div class="row">
        <div>
            <p><a href="/">Back</a></p>
        </div>
        <div>
            <h2>Edit Todo Item</h2>
            <form action="#" th:action="@{/todo/{id}(id=${todo.id})}" th:object="${todo}" method="POST">
                <div>
                    <label for="description">Description</label>
                    <input type="text"
                           th:field="*{description}"
                           id="description"
                           placeholder="Description">
                </div>
                <div>
                    <input type="checkbox"
                           id="inputIsComplete"
                           th:field="*{isComplete}"
                           th:checked="${isComplete} == true">
                    <label for="inputIsComplete">Completed?</label>
                </div>

                <input type="hidden" th:field="*{createdAt}" />
                <input type="hidden" th:field="*{updatedAt}" />

                <input type="submit" value="Update">
            </form>
        </div>
    </div>
</div>
</body>
</html>